name: Generate Docker SBOMs

on:
  registry_package:
    types: [published]
  workflow_dispatch:
    inputs:
      version:
        description: "Version tag (e.g. v1.2.3)"
        required: true

env:
  REGISTRY: ghcr.io
  IMAGE_OWNER: eclipse
  SERVER_IMAGE: openvsx-server
  WEBUI_IMAGE: openvsx-webui
  VERSION: "${{ github.event_name == 'registry_package' && github.event.registry_package.package_version.container_metadata.tag.name || inputs.version }}"

jobs:
  sbom-webui:
    if: github.event_name == 'workflow_dispatch' || github.event.registry_package.name == 'openvsx-webui'
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Generate SBOM for Web UI Image
      uses: anchore/sbom-action@28d71544de8eaf1b958d335707167c5f783590ad # v0.22.2
      with:
        image: ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/${{ env.WEBUI_IMAGE }}:${{ env.VERSION }}
        artifact-name: sbom-webui.spdx.json
        output-file: sbom-webui.spdx.json

  sbom-server:
    if: github.event_name == 'workflow_dispatch' || github.event.registry_package.name == 'openvsx-server'
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Generate SBOM for Server Image
      uses: anchore/sbom-action@28d71544de8eaf1b958d335707167c5f783590ad # v0.22.2
      with:
        image: ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/${{ env.SERVER_IMAGE }}:${{ env.VERSION }}
        artifact-name: sbom-server.spdx.json
        output-file: sbom-server.spdx.json
