name: Generate SBOMs

on:
  push:
    tags:
      - "v*"

env:
  SERVER_IMAGE: openvsx-server
  WEBUI_IMAGE: openvsx-webui

jobs:
  sbom-webui:
    permissions:
      contents: read
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Build Web UI Image
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: webui
        push: false
        load: true
        tags: ${{ env.WEBUI_IMAGE }}:local

    - name: Generate SBOM for Web UI Image
      uses: anchore/sbom-action@28d71544de8eaf1b958d335707167c5f783590ad # v0.22.2
      with:
        image: ${{ env.WEBUI_IMAGE }}:local
        artifact-name: sbom-webui.spdx.json
        output-file: sbom-webui.spdx.json

  sbom-server:
    permissions:
      contents: read
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Set up JDK
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        distribution: 'temurin'
        java-version: 25

    - name: Build Server Image
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      env:
        DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_API_TOKEN }}
      with:
        context: server
        push: false
        load: true
        tags: ${{ env.SERVER_IMAGE }}:local
        secret-envs: |
          "dv-key=DEVELOCITY_ACCESS_KEY"

    - name: Generate SBOM for Server Image
      uses: anchore/sbom-action@28d71544de8eaf1b958d335707167c5f783590ad # v0.22.2
      with:
        image: ${{ env.SERVER_IMAGE }}:local
        artifact-name: sbom-server.spdx.json
        output-file: sbom-server.spdx.json
